<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>04_综合</title>
</head>
<body>
<!--
思路是：
  ①遍历数组
  ②添加内容到数组中 方法
  ③添加  删除方法
-->
<!--
  综合使用以下技术:
  1. 页面指令:
    v-model
    @click
    @keyup.enter
    v-for / $index
    v-text
  2. Vue对象
    初始化数据: data
    事件处理函数: methods
-->
<div id="app">
  <input type="text"   v-model="inputTodo" @keyup.enter="addTodo">
  <ul>
    <li v-for=" todo in todos">
      {{todo}}
      <button @click="deleteX($index)">删除</button>
    </li>
  </ul>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  new Vue({
      el : '#app',
      data : {
        inputTodo:"",
        todos:[
          'a','b','c'
        ]
      },
      methods : {
        addTodo:function () {
          //添加到下面ul
          this.todos.unshift(this.inputTodo);
          //清空输出框内的内容
          this.inputTodo='';
        },
        deleteX:function (index) {
          this.todos.splice(index,1);
        }
      }
  });
</script>
</body>
</html>